@import "bootstrap-sprockets";
@import "bootstrap";



.jumbotron {

	/*text-align: center;*/
	/*background-image: asset-url('volcanopark-03.jpg');*/
	 /*background-image:url('https://s3-us-west-1.amazonaws.com/codingdojo/3001.JPG');*/
	background-size: cover;

}

/*.indexname{
	opacity: 0.5;
}*/



body {
	padding-top: 50px;
}
.alert-error {
	background-color: #f2dede;
	border-color: #eed3d7;
	color: #b94a48;
	text-align: left;
}

.alert-alert {
	background-color: #f2dede;
	border-color: #ebccd1;
	color: #a94442;
	text-align: left;
}

.alert-success{
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #468847;
	text-align: left;
}

.alert-notice{
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #468847;
	text-align: left;
}

.user-name {

	padding: 0 !important ;
	padding-left: 5px;
	padding-top: 0px !important;
	text-align: center;
a {
	color: black !important;
	margin: 0 !important;
	padding: 5px!important;
}
a:hover, a:focus {
color: #000 !important;
}
}

.container{
	padding-top: 30px;

}


.friend_name {
	padding-top: 5px;
	
}

.btn-unfollow{
	padding-top: 5px;
}

.text-center{
	margin-left: 70px;
}